@charset="UTF-8";
/* vlastni fonty */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700|Source+Sans+Pro:300,400,600,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Metamorphous&display=swap);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700|Literata|Slabo+27px');

/* Základní formátování */
/*Prohlížeče postavené na jádře Webkit (Chrome, Safari, Opera) mají prefix -webkit-, Firefox má -moz- a Edge má -ms-. Opera mívala -o-, dokud měla vlastní vykreslovací jádro (teď už má Webkit).
pr. -moz-border: 1px solid;

Protože někdy se plná, neprefixová verze vlastnosti nepěkně zdrží, weboví autoři často používají vlastnosti s prefixem, typicky -webkit-. Na to navazují výrobci prohlížečů a začínají implementovat vlastnosti i s cizími prefixy. Bordel. Já prefixy nemám rád a snažím se jim v těchto návodech vyhýbat, pokud to jde. Podle mě je lepší si počkat na plnou podporu než si zaprasit styly prefixy.

preprocesor	
Programy, které ze zápisů stylu v jiných jazycích než CSS umí vygenerovat CSS. Preprocesory se používají kvůli tomu, aby si autoři zjednodušili práci s CSS, vyhnuli se chybám a nemuseli se učit, které vlastnosti se musejí prefixovat a které ne. Usnadňují výpočty rozměrů prvků, zavádějí proměnné a funkce. Já osobně žádný CSS preprocesor nepoužívám, proto o nich nepíšu.
*/

/*===================================================================================
                                     CSS reset 
====================================================================================*/
html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, strong, tt, var,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td{
       margin: 0;
       padding: 0;
       border: 0;
       outline: 0;
       font-weight: inherit;
       font-style: inherit;
       font-size: 100%;
       font-family: inherit;
       vertical-align: baseline; }
       
sup {
       vertical-align: top;
       margin: 0;
       padding: 0; }
   
 /* remember to define focus styles! */
*:focus, *:active {
       outline: 0;}
 body {
       line-height: 1;
       font: 300 'Source Sans Pro', sans-serif;}
       
       
 ol, ul {
       list-style: none;}
 /* tables still need 'cellspacing="0"' in the markup */
 table {
       border-collapse: separate;
       border-spacing: 0; }
 caption, th, td {
       text-align: left;
       font-weight: normal; }
 blockquote:before, blockquote:after,
 q:before, q:after {
       content: ""; }
 blockquote, q {
       quotes: "" ""; }
       
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after {content: ""; display: table;}
.clearfix:after {clear: both;}

/*---konec CSS reset---*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
#header ul{
  position: fixed;
  top:0;
  left:385px;
}
#header li {
  position: relative;
  width: 150px;
  float: left;
  padding: 6px 5px;
  background-color: Tan;
  font-family: 'Metamorphous';
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
    
}
#vizual {
  float: left;
} 
#vizual img{
        position: fixed;
        left: 280px;
        top: 100px;
        height: 500px;
            
    }
  table{
    border-spacing: 3px;
  }
 
    .box table{
      width: 100%;
      
    }
    .uvotla{
      border: 1px solid grey;
      background-color: silver;
      padding: 0 10px;
    }
    .uvotla a{
      color: white;
    }
        .box {
            position: fixed;
            top: 90px; 
            left:260px;
            height:600px;
            width:860px;
            padding: 0 70px;
            background-image: URL("_ui/grunge.png"); */ 
            z-index: 2;
            text-align: left;
            overflow: auto;
            color:  PapayaWhip; 
            visibility: hidden;
        }
        .box a {
            cursor: pointer;
        }
        .box ul{
          text-align: left;
          list-style: disc inside none;
        }
        .box li{
          margin: 8px;
          font-size: 18px;
        }
        #levatabulka{
          position: fixed;
          top: 120px;
          left: 630px;
          width: 400px;
          
        }
        .tlacitko{
            position:fixed; top: 0;background-color: Tan; width: 20%; max-width: 300px; height: 25px;padding: 10px;
        }
        .bold {
          font-size: 20px;
          color: rgb(29,22,15);
          background-color: rgba(233,198,175,0.5);
            /*font-weight: bold;*/
        }
        td {
          font-size: 18px;
            background-color: rgba(233,198,175,0.3);
            padding: 8px 6px;
            margin: 20px;
        }
#dialogy{
  position: fixed;
  top: 530px;
  width: 800px;
  height: 500px;
}  
      .dialog{
            position: fixed;
            top:530px;
            left: 310px;
            width: 800px;
            height: 500px;
            padding: 50px 50px 0;
            z-index: 2;
            background-color: white;
            visibility: hidden;
        }
.dialog li{

  font-weight: 300;
  font-family: 'Literata','Slabo 27px',sans-serif;
  line-height: 2;
  z-index: 3;
  color: #b97c2c;
}
.dialog li:hover{
  color: blue;
  cursor: pointer;

}
.dialog li:activ{
  color: red;
  cursor: pointer;

}
.dialog p{
  line-height: 1.8;
  font-family: 'Literata','Slabo 27px',sans-serif;
  font-weight: 200;
  font-size: 16px;
}
.actor{
  color: tan;
}
#closebutton1{
  position: fixed; 
  left: 1120px;
  top:90px;
  width: 20px;
  height: 20px;
 
  z-index: 3;
  background-color: white;

}

.box h2 {
  font-family: 'Metamorphous';
  font-size: 28px;
  font-weight: normal;
  margin: 4% 0 1em 0;
    
}

.clickitem{
  color: white;
  text-decoration: underline;
}






